@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  

  /*Shared Styles*/

  .display-flex{
    display: flex;
  }

  .dark1{
    color : #131313;
  }

  .dark2{
    color : #424242;
  }

  .dark3{
    color : #727272;
  }

  .bg-light{
    background: rgb(255, 144, 14, 0.1);
  }

  .btn-primary{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    font-size: 1.25rem;
    font-weight: 600;
    color : white;
    padding : 20px 25px;
    border:none;
    margin-top: 30px;
  }

  main{
    max-width: 1440px;
    margin: 0 auto;
  }


  main > section{
    margin-top: 140px;
  }

  
  .section-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin : 10px 0 0 0;
  }

  .section-description{
    font-size: 1rem;
    font-weight: 400;
    margin : 10px 0 0 0;
  }

  /*Header Styles*/


  /*Navbar Styles*/
  .navbar{
    justify-content: space-between;
    align-items: center;
  }
  
  .brand{
    font-size: 2rem;
  }

  .navbar ul{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }

  .nav-item{
    color :black;
    text-decoration: none;
    list-style: none;
    margin-right: 30px;
    cursor: pointer;
  }

  .navbar, .banner{
    max-width: 1440px;
    margin : 0 auto;
  }


  /*Banner Styles*/
  .banner-content{
    max-width: 864px;
    margin : 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }

  .banner-title{
    font-size: 4rem;
    font-weight: 700;
  }

  .banner-description{
    font-size: 1rem;
    font-weight: 400;
  }

  .banner-img{
    width : 100%;
  }
  
  /*Team & Feature Style*/

  .teams{
    align-items: center;
  }

  .team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap : 24px;
  }


  .our-feature{
    max-width: 530px;
    margin-left : 90px;
  }

  
  #quick-list{
    font-weight: 500;
  }

  #feature{
    color : #FF900E;
  }



  /*Responsive Section*/

  @media screen and (max-width : 576px) {
    .navbar, .nav-links, .teams{
      flex-direction: column;
    }

    .team-img-container{
      grid-template-columns: repeat(1,1fr);
    }

    .our-feature{
      margin: 20px 20px;
    }
  }


  /*Medium Device*/

  @media screen and (min-width:577px) and (max-width:992px) {
      .teams{
        flex-direction: column;
      }

      .our-feature{
        text-align: center;
        margin: 30px 30px;
      }
    
  }